* {
  margin: 0;
  padding: 0;
  font-family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", "sans-serif";
}

body {
  background-color: black;
  color: white;
  height: 100%;
}

.main {
  background-image: url(assest/IN-en-20260720-TRIFECTA-perspective_ca5664c9-e7ca-45da-9d85-173740dbae71_large.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 644px;
}

nav {
  display: flex;

  flex-wrap: wrap;

  align-content: center;

  justify-content: space-between;

  max-width: 100%;
  height: 88px;
  position: relative;
  z-index: 20;
  padding: 0 8%;
}

.main .box {
  height: 644px;
  width: 100%;
  filter: opacity(0.7);
  position: absolute;
  top: 0;
  background-color: black;
}

.red {
  background-color: red;
  color: white;
  border-radius: 4px;
  padding: 4px 9px;
  font-weight: bold;
}
.white {
  background-color: transparent;
  color: white;
  border-color: rgb(159, 164, 169);
  border-radius: 4px;
  padding: 4px 13px;
  font-weight: bold;
}

.text {
  gap: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 10;
  align-items: center;
  text-size-adjust: 100%;
  text-align: center;
}

.text > :first-child {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  flex-wrap: wrap;
}

.text > :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  flex-wrap: wrap;
  font-family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", "sans-serif";
}

.text > :nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.main input {
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 207px;
  padding-top: 20px;
  text-align: left;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  border-color: white;
  color: white;
}
div > button {
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  border-color: transparent;
}

.curve-in {
  height: 10vh;
  width: 100%;
  background: linear-gradient(to right, black, #d952e0, red, #d952e0, black);
  position: relative;
  top: 90%;

  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.curve-out {
  height: 90%;
  width: 100%;
  position: absolute;
  top: 10%;
  background: radial-gradient(ellipse at 50% 0, rgb(97, 97, 238), black 50%);
  border-top-left-radius: 45%;
  border-top-right-radius: 45%;
}

.curve {
  position: relative;
  top: 80%;
}

/* .com {
  position: relative;
  top: 80%;
} */
.com > p {
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  padding-left: 160px;
}

.slider {
  display: flex;
  gap: 34px;

  border-radius: 8px 8px 8px 8px;
  scroll-behavior: smooth;
  overflow-x: scroll;
  width: 77%;
  overflow-y: hidden;
  margin: 25px auto;
}

.item img {
  width: 180px;
  border-radius: 8px;

  display: block;
  object-fit: cover;
}

.item {
  position: relative;
  display: flex;
  flex: 0 0 auto;
}

.griditem {
  position: absolute;
  bottom: 8px;
  left: -22px;
  font-size: 100px;
  font-weight: 800;
  -webkit-text-stroke: 2px white;
  color: black;
  z-index: 1;
  line-height: 1;
}

.slider::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: auto;
  width: 100%;
  margin-top: 16px;
  flex-flow: wrap;
  flex-direction: row;
  margin-bottom: 45px;
}
.boxs {
  width: 265px;
  background: linear-gradient(
    149deg,
    rgb(25, 34, 71) 0%,
    rgb(33, 14, 23) 96.86%
  );
  border-radius: 15px;
  height: 258px;
  margin: 7px;
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  position: relative;
}

.h {
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}

.b {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 16px;
}

.sticker {
  height: 65px;
  width: 65px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.question {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width: 100%;
  
}
.ques {
  padding: 20px;
  height: 47px;
  width: 79%;
  background-color:rgb(54 52 52);
  margin: 2px 147px;
  font-size: 24px;
  font-weight: 450;
  text-align: left center;
  
}
