* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url(assest/IN-en-20260720-TRIFECTA-perspective_ca5664c9-e7ca-45da-9d85-173740dbae71_large.jpg);
  background-position: center center;
   background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
  
}

nav {
  display: flex;

  flex-wrap: wrap;

  align-content: center;
  justify-content: space-between;

  width: 100%;
  height: 88px;
  position: relative;
}

.main .box {
  height: 100vh;
  width: 100%;
  filter: opacity(0.7);
  position: absolute;
  top: 0;
  background-color: black;
}

nav img {
  display: flex;
  position: relative;
  z-index: 20;
  justify-content: space-around;
  height: 40px;
}

nav button {
  padding: 5px;
  position: relative;
  z-index: 20;
}

.red {
  background-color: red;
  color: white;
}
.white {
  background-color: transparent;
  color: white;
  border-color: rgb(159, 164, 169);
  border-radius: 0px;
}

.text {
  gap: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 10;
  align-items: center;
  text-size-adjust: 100%;
  font-family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", "sans-serif";
    overflow: auto;
}

.text > :first-child {
  font-size: 56px;
  font-weight: 700;
  line-height: 70px;
  text-align: center;
  flex-wrap: wrap;
}

.text > :nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  flex-wrap: wrap;
  font-family:
    "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", "sans-serif";
}

.text > :nth-child(3) {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

div > input {
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  text-align: left;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  border-color: white;
  
}

div > button {
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 4px;
  font-size: 24px;
  border-color: transparent;

  
}


